.how {
  background-color: color(primary);
  &-text {
    p {
      font-weight: 700;
    }
  }

  &-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5em;

    img {
      width: 60%;
    }

    img.how-icon-2 {
      width: 30%;
    }
  }
}
