.social {

  &-icon {
    display: flex;
    justify-content: space-around;

    &-item {
      list-style: none;
    }

    &-link {
      text-decoration: none;
      width: 6rem;
      height: 6rem;
      border: 0.1rem solid;
      border-radius: 100%;
      @include flexPosition;

      i {
        font-size: 4rem;
      }
    }
  }
}

$socialMediaColors: 1 #b31217, 2 #0077b5, 3 #517fa4, 4 #55acee;

@each $color in $socialMediaColors {
  .social-icon-item:nth-child(#{nth($color, 1)}) .social-icon-link {
    color: nth($color, 2);
    border: 0.1rem solid nth($color, 2);
  }
}
